# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# OS X stuff
.DS_Store

build
bin

CMakeCache.txt
CMakeFiles/
Problem Sets/Problem Set 2/HW2
Problem Sets/Problem Set 2/HW2_differenceImage.png
Problem Sets/Problem Set 2/HW2_output.png
Problem Sets/Problem Set 2/HW2_reference.png
